.container {
  background-color: #eee;
  width: 400px;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calculator button {
  border: 0.5px solid #ddd;
}

.grid-item {
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.grid-item:hover {
  border: 1px solid #eee;
}

.display {
  text-align: right;
  padding: 20px 35px;
}

.zero {
  grid-column: 1 / 3;
}

.orange {
  background-color: orange;
}
